.lists-page{
  height: 100vh;
  width: 100vw;
  flex-direction: column; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.lists-page h1{
  position: absolute;
	letter-spacing: 15px;
  left:65px;
  top:60px;
}

.lists-page h2{
  position: absolute;
	letter-spacing: 5px;
  left:65px;
  top:135px;
}
.divider-position {
  position: absolute;
  left:65px;
  top:120px;
}

.lists-container{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 11rem;
  width: 40vw;
  height: 70vh;
}

.empty-info{
  text-align: center;
}

.add-button{
  margin:auto;
  position: absolute;
  bottom: 3rem;
}

.add-new-list-container-header{
  text-align: center;
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;

}
form .new-list{
  margin-top: 1rem;
}

.divider-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff; /* Dostosuj do koloru tekstu z obrazka */
}

.divider-with-text hr{
  border-color: var(--accent-color);
  width: 100%;
}

.divider-text {
 text-align: center;
 width: 40rem;
}
.divider-with-text{
  text-align: center;
  margin-bottom: 1rem;
}
.buttons-container{
  justify-content: space-between;
  display: flex;
}

.add-new-list-member{
  position: absolute; 
  right: 20px; 
  top: 20px; 
  cursor: pointer;
}

.add-new-list-member-btn{
    font-size: 20px;
    color: var(--accent-color);
}