
.modal-internal {
  border: none;
  border-radius: 8px;
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);

}

.modal-external[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-external::backdrop {
  backdrop-filter: saturate(180%) blur(15px);
}
.modal-external {
 background-color: transparent;
 border: none;
 height: 90vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.modal-internal h2 {
  font-family: "Notable", sans-serif;
  margin: 0 0 0.25rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  min-width: 27.4rem;
} 

.modal-internal p {
  margin: 0.5rem 0;
  font-size: 16px;
  max-width: 30vw;
  font-family: "Montserrat", sans-serif;
}

.about{
  text-align: justify;
  min-width: 27rem;
}

.modal-internal p strong {
  color: var(--accent-color);
}

form[method="dialog"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-external .button-close{
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  bottom: 0.8rem;

}

.modal-internal form label{
  font-weight: 200;
}

:focus-visible {
  outline: none;
}

/* TODO: hover, active */
/* .modal button:hover {
  background: #051715;
} */
