
.modal {
  border: none;
  border-radius: 8px;
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
}

.modal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal::backdrop {
  backdrop-filter: saturate(180%) blur(15px);
}


.modal h2 {
  font-family: "Notable", sans-serif;
  margin: 0 0 0.25rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  min-width: 27.4rem;
} 
/* 
.modal progress {
  width: 100%;
  height: 1.5rem;
  margin: 0;
  accent-color: var(--accent-color);
} */

.modal p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  max-width: 30vw;
  min-width: 27rem;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

.modal p strong {
  color: var(--accent-color);
}

.modal form {
  text-align: right;
}

.modal .button-close  {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right:5px;
}

.btn-close {
  width: 25px;
  height: 25px;
}

:focus-visible {
  outline: none;
}

/* TODO: hover, active */
/* .modal button:hover {
  background: #051715;
} */
