.lists-page{
  height: 100vh;
  width: 100vw;
  flex-direction: column; 
  display: flex;
  align-items: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}

.lists {
  letter-spacing: 5px;
}

.lists-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 0;
  max-height: 74vh;
  overflow-y: scroll;
  padding: 0  clamp(0vw, 10vw, 10vw);
}

.lists-container > :first-child{
  margin-top: 0;
}

@media (max-width: 480px) {
  
  .lists-container{ padding: 0;}
}


.empty-info{
  text-align: center;
  width: -webkit-fill-available;
  height: 70vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.add-button{
  margin:auto;
  position: absolute;
  bottom: 2vh;
  width: 100vw;
}

.add-new-list-container-header{
  text-align: center;
  margin-bottom: 2rem;
  margin-left: 3vw;
  margin-right: 3vw;

}
form .new-list{
  margin-top: 1rem;
}

#add-team-member{
  font-weight: bold;
}
.new-list ul {
  padding-left: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

.divider-with-text {
  display: flex;
  align-items: center;
  text-align: center;
}

.divider-with-text hr{
  border-color: var(--accent-color);
  width: 100%;
}

.divider-text {
 text-align: center;
 width: 40rem;
}
.divider-with-text{
  text-align: center;
  margin-bottom: 1rem;
}
.buttons-container{
  justify-content: space-between;
  display: flex;
}

.add-new-list-member{
  position: absolute; 
  right: 20px; 
  top: 20px; 
  cursor: pointer;
}

.add-new-list-member-btn{
    font-size: 20px;
    color: var(--accent-color);
}