.invitations-btns-wrapper{
  display: flex;
  margin-top: 1rem;
}

.invitations-btns-wrapper button{
  background-color: transparent;
  color: white;
  border: none;
  padding-left: 0;
  padding-right: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.invitation-status *{
  font-family: "Montserrat", sans-serif;
}