
.single-list-page{
  height: 100vh;
  width: 100vw;
  flex-direction: column; 
  display: flex;
  align-items: flex-start;
}

#wrapper{
  flex-direction: row; 
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

#page-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 4vh;
  margin-left: 3vw;
}

#page-header h1{
  margin-left: 0;
  letter-spacing: 15px;
  margin-bottom: 10px;
}

#list-id{
  color: var(--background-color-rgba);
  margin-left: 2rem;
  margin-top: 10px;
}
#list-name{
  margin-top: 10px;
  letter-spacing: 5px;
} 

#debts{
  margin-right: auto;
  margin-top: 3vh;
  margin-left: 5vw;
}

#button-container{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20vw;
  margin-top: 10.5vh;
}

#icon-events{
  align-self: center;
  width:30px;
  height: 30px;
  margin-right: 5px;
}
#icon-users{
  align-self: center;
  margin-right: 10px ;
}
.users-or-events-container{
  width: 100%;
  margin: 1vw;
  padding: 1vw 3vw;
  border-radius: 8px;
  height: 50vh;
}

.users-list{
  background: linear-gradient(
    to bottom,
    rgba(119, 255, 78, 0.05) 0%,  
    rgba(108, 233, 79, 0.05) 9%,  
    rgba(71, 158, 84, 0.05) 46%, 
    rgba(14, 15, 14, 0.05) 100%
  );
}

.events-lists {
  background: linear-gradient(
    to bottom,
    rgba(205, 58, 255, 0.05) 0%, 
    rgba(205, 58, 255, 0.05) 46%,
    rgba(15, 15, 15, 0.05) 100% 
  );
}