.main-title {
	font-size: clamp(1.5rem, 6vw, 5rem);
	letter-spacing: clamp(0.1rem, 4vw, 3rem);;
	position: relative;
	animation-name: title;
	animation-duration: 4s;
	text-align: center;
	z-index: 10;
	margin-top: 20vh;
	margin-bottom: 9vh;
	text-align: center;
}

.register input{
	margin-bottom: 0.5rem;
}

@media (max-height: 768px){
	.main-title {
		margin-top: 15vh;
		margin-bottom: 10vh;
		text-align: center;
	}
	.register {
		margin-top: -5vh;
	}

}

@keyframes title {
	0% {
		font-size: clamp(2.5rem, 8vw, 15rem);
	}
	25% {
		font-size: clamp(2.5rem, 8vw, 15rem);
	}
	100% {
		margin-top: 15vh;
		font-size: clamp(2.5rem, 6vw, 5rem);
	}
}

@media (max-width: 768px) {
	@keyframes title {
		0% {
			font-size: clamp(2.5rem, 8vw, 15rem);
		}
		25% {
			font-size: clamp(2.5rem, 8vw, 15rem);
		}
		100% {
			margin-top: 20vh;
			font-size: clamp(2.5rem, 6vw, 5rem);
		}
	}
}

.circle {
	width: 993px;
	height: 993px;
	border-radius: 50%;
	position: absolute;
	z-index: 0;
	/* TODO - pozycjonowanie */
}

.lightgreen {
	border-color: var(--primary-color);
	background-color: var(--primary-color);
	left: 50%;
	bottom: 0;
	transform: translate(-95%, 65%);
}

.darkgreen {
	border-color: var(--secondary-color);
	background-color: var(--secondary-color);
	left: 50%;
	bottom: 0;
	transform: translate(-140%, 17%);
}

.btn-question-mark {
	position: absolute;
	cursor: pointer;
	right: 15px;
	bottom: 15px;
	width: 4vw;
	height: 4vw;
	max-width: 2rem;
	max-height: 2rem;
	min-width: 1.2rem;
	min-height: 1.2rem;
	/* TODO: hover active */
}


/* TODO: responsivness */