form{
  display: flex;
  flex-direction: column;
}

form label{
  font-weight: 300;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

form input{
  margin-bottom: 4vh;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  padding: 20px;
  color: white;  
  font-family: "Montserrat", sans-serif;
}

.form-login-register{
  margin-left: auto;
  margin-right: auto;
  max-width: 30rem;
  padding-left: 40vw;
  z-index: 1;
}

.form-login-register input{
  min-width: 15.15rem; 
  max-width: 25.15rem; 
  width: 40vw;
}

.input-with-button {
  display: flex;
  position: relative;
  flex-direction: column;
}

.password-toggle-icon {
  position: absolute; 
  z-index: 1000;
  right: 20px; 
  top: 20px; 
  cursor: pointer;
}


.form-buttons-layout{
  display: flex;
  justify-content: space-between;
}
   
.form-buttons-layout span{
  font-size: small;
  align-self: end;
  font-weight: 200;
}
   
.form-buttons-layout button {
      font-family: "Montserrat", sans-serif;
      background-color: transparent ;
      border: none;
      padding: 0;
      color: var(--accent-color);
      text-decoration: none;
      font-weight: 300;
      cursor: pointer;
  }
.form-buttons-layout button:hover{
      text-decoration: underline;
      }
 


      @media (max-width: 885px) {
       
        .form-login-register{
          padding-left: 0;
        }

      }